.ui.centered.grid>.row>.column:not(.aligned):not(.justified), .ui.grid .centered.row>.column:not(.aligned):not(.justified) {
  text-align: center;
}

.ui.grid>[class*="four column"].row>.column {
  width: 40%!important;
}

.grid-container {
  text-align: center;
}

.pokemon-details {
  text-align: center;
}

.pokemon-details-title {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: white;
  text-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
}

.ui.grid {
  font-size: 32px;
}
 
.ui.avatar.image.type {
  width: 30px;
  height: 30px;
}
